/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,100..1000;1,100..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'DM Sans', system-ui, sans-serif;
    min-width: 380px;
    padding: 0px;
    margin: 0px;
  }
}